<div class="center hero-unit">
  <h1>Sign up here</h1>

  <h2>
    This is the home page for CakeDay.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

