Your happiness meter reads: <%= current_user.happiness %> <br>

<p>Your location: <%= current_user.location %></p>
<img src= "http://maps.googleapis.com/maps/api/staticmap?
center=17+Hillhouse+Avenue,New+Haven,+CT&
zoom=<%= @zoom %>&
size=1200x600&
scale=2&
maptype=terrain&
markers=icon:http://docs.geoserver.org/stable/en/user/_images/smileyface1.png?
chst=d_map_pin_icon%26chld=smiley%257C996600%7C17+Hillhouse+Avenue,New+Haven,+CT">