@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


#username {
  h2 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  text-align: left;
  }
}

#happiness {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#baked {
  width: 20%;
  float: right;
  padding: 10px;
  text-align: center;
  color: green;
  font-size: 20px;
  text-shadow: 1px 1px 1px gray;
  img {
    width: 25px;
    height: 1em;
  }
  background-color: #C2C2D6;
  border-radius: 5px;
  border: 2px solid gray;
  height: 550px;
  opacity: 0.75;
  overflow: scroll;
  line-height: 1.2em;
}

#received {
  background-color: #D6EBFF;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: center;
  padding: 10px;
  overflow: scroll;
  height: 350px;
  img {
    border-radius: 2px;
  }
  h2 {
    font-size: 20px;
    text-shadow: 1px 1px 1px gray;
  }
}

#whole-page {
  background-color: #FFE8FF;
  margin-top: 0px;
  display: block;
  padding: 10px;
  height: 100vh;
}



